* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        180deg,
        #66546c 0%,
        #7d586d 50%,
        #a05d72 100%
    );
}

img {
    max-width: 100%;
    height: auto;
}