* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(108, 78, 106);
}

img {
    max-width: 100%;
    height: auto;
}